* {
    margin: 0px;
    padding: 0px;
}

fieldset {

    padding: 0px;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    height: 100vh;
    width: 100vw;
}

.submitedview {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    width: 20px;
}

fieldset {
    padding-left: 5px;
    padding-bottom: 2px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: aliceblue;
    padding: 10px;
    padding-top: 5px;
}


input,
textarea {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    color: rgb(251, 251, 251);
    background: none;
    margin-right: 5px !important;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 179, 179);

    border-radius: 5px;
}

.innerform {
    background-color: brown;
    padding: 100px;
    display: flex;

    flex-direction: column;


    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.btn {
    color: aliceblue;
    background-color: rgb(20, 123, 214);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

p {
    color: aliceblue;
}